[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Xfce
Comment=Émulateur de terminal
Exec=xfce4-terminal
Icon=org.xfce.terminal
Path=
Terminal=false
StartupNotify=true
