[Desktop Entry]
Encoding=UTF-8
Name=Notepadqq
Name[fr]=Notepadqq
GenericName=Notepadqq source code editor
GenericName[fr]=Notepadqq éditeur de code source
Comment=Edit source code files
Comment[fr]=Editer des fichier de code source
Exec=notepadqq %U
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;text/html;text/x-php;text/x-c;text/x-shellscript;
Icon=notepadqq
Categories=Development;Utility;TextEditor;
Actions=Window;Document;
X-XFCE-Source=file:///usr/share/applications/notepadqq.desktop

[Desktop Action Window]
Name=Open a New Window
Name[fr]=Ouvrir une nouvelle fenêtre
Exec=notepadqq --new-window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=Open a New Document
Name[fr]=Ouvrir un nouveau document
Exec=notepadqq
OnlyShowIn=Unity;
