[Desktop Entry]
Version=1.0
Type=Application
Name=ManageUser
Exec=/home/toff/.local/share/applications/APPS/VPI-ManageUser.sh
Icon=avatar-default
Categories=System;
