[Desktop Entry]
Version=1.0
Type=Application
Name=ssmb
Comment=SuperSMB-EasyBackup
Exec=/home/toff/.local/share/applications/APPS/VPI-ssmb-1.6.5.sh
Icon=org.xfce.session
Path=/home/toff/Documents
Terminal=true
Categories=System;