[Desktop Entry]
Name=GreenWithEnvy
Comment=Provides information, controls the fans and overclocks your NVIDIA video card
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/gwe --file-forwarding com.leinardi.gwe @@u %U @@
Icon=com.leinardi.gwe
Terminal=false
Type=Application
StartupNotify=true
MimeType=
Categories=Utility;GTK;GNOME;
Keywords=GWE;nvidia;overclock;
X-Flatpak=com.leinardi.gwe
X-XFCE-Source=file:///home/toff/.local/share/flatpak/exports/share/applications/com.leinardi.gwe.desktop
