[Desktop Entry]
Version=1.0
Type=Application
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=/usr/bin/nvidia-settings
Icon=nvidia-settings
Path=
Terminal=false
StartupNotify=false
